body{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
}

h1{
    padding: 8px;
    margin: 0px;
}

p{
    padding: 8px;
    margin: 0px;
}

#topPost{
    position:fixed;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: white;
    top: 0;
    z-index: 10;
    flex-grow: 1;
}

#commentSection{
    background-color: rgb(209, 209, 209);
    width: 100%;
    overflow: auto;
    flex-grow: 4;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
    margin-bottom: 68px;
}

.comment{
    background-color: rgb(241, 241, 241);
    padding: 8px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.displayName{
    padding: 5px;
}

.commentText{
    padding: 5px;
}

.editButton{
    padding: 5px;
}

.deleteButton{
    padding: 5px;
}

#submitSection{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    z-index: 10;
}

#dname{
    padding: 8px 10px;
    margin: 10px;
}

#commentInput{
    padding: 8px 10px;
    width: 50%;
    justify-self: center;
    align-self: center;
}

#submit{
    border: none;
    color: lightseagreen;
    background-color: whitesmoke;
}

.noDisplay{
    display: none;
}

.hiddenSubmit{
    display: flex;
    flex-wrap: wrap;
}

#userName{
    padding: 8px 10px;
}

.commentEdit{
    padding: 8px 10px;
    margin: 10px;
}

.submitEdit{
    padding: 8px 10px;
    margin: 10px;
}
